@{
    Layout = null;
}

<!DOCTYPE html>

<body>
    <ejs-sidebar id="default-sidebar" closeOnDocumentClick="false" width="260">
        <e-content-template>
            <div class="title-header">
            </div>
        </e-content-template>
    </ejs-sidebar>
</body>
