@model IEnumerable<ExpenseTracker.Models.Category>
@{
ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8">
        <ejs-grid id="CategoriesGrid" dataSource="@Model" allowSorting="true" gridLines="None">
            <e-grid-columns>
                <e-grid-column field="Title" headerText="Title" textAlign="Left" width="120"></e-grid-column>
                <e-grid-column field="Type" headerText="Type" textAlign="Left" width="150"></e-grid-column>
                <e-grid-column field="Icon" headerText="Icon" textAlign="Center" width="100"></e-grid-column>
            </e-grid-columns> 
        </ejs-grid>
    </div>
    <div class="col-md-4">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>