@model IEnumerable<ExpenseTracker.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8">
        <ejs-grid id="CategoriesGrid" dataSource="@Model" allowSorting="true" allowPaging="true" gridLines="None">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="TitleWithIcon" headerText="Title" textAlign="Left"></e-grid-column>
                <e-grid-column template="#typeColumnTemplate" headerText="Type" textAlign="Left"></e-grid-column>
                <e-grid-column template="#controlColumnTemplate" headerText="Controls" textAlign="Left"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-4">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if (Type == "Expense")} <span class="badge bg-danger">${Type}</span>
    ${else} <span class="badge bg-success">${Type}</span>
    ${/if}
</script>

<script id="controlColumnTemplate" type="text/x-template">
    <div class="d-flex align-items-start">
        <a class="no-a-decoration btn btn-sm" href="/category/CreateOrEdit/${CategoryId}">
            <i class="fa-solid fa-pencil"></i>
        </a>
        <form action="/Category/Delete/${CategoryId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit"
                    class="btn btn-sm btn-link"
                    onclick="return confirm('Are you sure you want to delete this category?');"
            >
                <i class="fa-solid fa-trash" style="color: #ff3d3d;"></i>
            </button>
        </form>
    </div>
</script>