@model ExpenseTracker.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionId == 0 ? "Create a new transaction" : "Edit transaction";
}
<div class="row">
    <div class="col-md-8">
        <div class="widget p-4">
            <form asp-action="CreateOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <ejs-dropdownlist id="ddlCategory" ejs-for="CategoryId" dataSource="@ViewBag.categories" placeholder="Category" floatLabelType="Always" filterType="Contains" allowFiltering="true">
                        <e-dropdownlist-fields value="CategoryId" text="TitleWithIcon" ></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <ejs-numerictextbox id="amount" placeholder="Amount" showSpinButton="false" floatLabelType="Always" min="0" format="c2" ejs-for="Amount" ></ejs-numerictextbox>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <ejs-datetimepicker ejs-for="Date" floatLabelType="Always" placeholder="Date" format="hh:mm dd/MM/yyyy"></ejs-datetimepicker>
                </div>
                <div class="form-group">
                    <ejs-textbox id="note" ejs-for="Note" placeholder="Note" floatLabelType="Always" multiline="true"></ejs-textbox>
                </div>
                <div class="form-group d-flex flex-column">
                    <input type="submit" value="Submit" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

